body {
    margin: 0;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 400px;
    margin: 30px 20px;
    background-color: #d3d3d3;
    padding: 20px;
    border: 2px solid #9b9b9b;
    border-radius: 8px;
    position: relative;
}

.input {
    margin: 5px 0 15px 0;
    line-height: 24px;
    font-size: 14px;
    border-radius: 3px;
    border: 2px solid rgb(118, 118, 118);
}

.textarea {
    margin: 5px 0 35px 0;
    font-size: 15px;
    border-radius: 3px;
    resize: none;
    border: 2px solid rgb(118, 118, 118);
}

.btn {
    width: 160px;
    height: 40px;
    margin: 0 auto;
    border: 0;
    outline: 0;
    font-size: 14px;
    background-color: #fff;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0px 2px 5px 0px #fff;
}

.btn:active {
    box-shadow: none;
}

.error {
    border: 2px solid red;
}

.errors {
    position: absolute;
    background-color: #d7efef;
    width: 200px;
    line-height: 20px;
    margin: 0;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 3px;
}

.errors:before {
    content: "";
    border: 12px solid transparent;
    border-bottom: 10px solid #d7efef;;
    position: absolute;
    top: -20px;
    left: 8px;
}

.message_name {
    top: 82px;
    right: 21px;
}

.message_phone {
    top: 150px;
    right: 21px;
}

.message_email {
    top: 218px;
    right: 21px;
}

.message_textarea {
    top: 446px;
    right: 21px;
}

.hidden {
    display: none;
}